:root {
    --cor-fundo: #f0f0f0; /* Fundo da página */
    --cor-principal: #1E90FF; /* Cor principal */
    --cor-secundaria: #FF6347; /* Cor secundária */
    --cor-texto: #333333; /* Cor do texto */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1, h2 {
    color: var(--cor-principal);
}

.btn {
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--cor-secundaria);
}

input, select {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
}

form {
    margin-bottom: 20px;
}
